---
import type { Product } from "../../sanity.types";
import { urlForImage } from "../utils/sanity-utils";
interface Props {
	product: Pick<Product, "_id" | "title" | "slug" | "price" | "images">;
}
const { product } = Astro.props;
---

<li class="w-full max-w-sm mx-auto">
	<a href={`/products/${product.slug.current}`} class="block">
		<img
			src={urlForImage(product.images[0]).url()}
			alt={product.title}
			class="w-full aspect-square object-cover"
		/>
	</a>
	<div class="py-3 sm:py-4">
		<a href={`/products/${product.slug.current}`} class="block">
			<h3 class="text-base sm:text-lg font-semibold">
				{product.title}
			</h3>
		</a>
		<p class="text-gray-600">
			NGN {product.price.toFixed(2)}
		</p>
	</div>
</li>
