---
import { sanityClient } from "sanity:client";
import { urlForImage } from "../../utils/sanity-utils";
import ChevronRight from "../../../public/icons/chevron-right.svg";
import ChevronLeft from "../../../public/icons/chevron-left.svg";
import type { Category } from "../../../sanity.types";

const categories = await sanityClient.fetch<Category[]>(
	`*[_type == "category"]{_id, title, slug, image, discount}`
);
---

<section
	aria-labelledby="categories"
	class="bg-white p-4 sm:p-8 md:p-16 lg:px-32 font-lexend">
	<div class="flex justify-between items-center">
		<h2 id="latest" class="text-2xl font-medium">Categories</h2>
		<div class="flex items-center gap-4">
			<button
				class="p-2 rounded-full hover:bg-gray-200 transition-colors cursor-pointer">
				<ChevronLeft />
			</button>
			<button
				class="p-2 rounded-full hover:bg-gray-200 transition-colors cursor-pointer">
				<ChevronRight />
			</button>
		</div>
	</div>
	<ul
		class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-4 mt-4">
		{
			categories.map((category) => (
				<li class="w-full max-w-sm mx-auto">
					<a href={`/catalog/${category.slug.current}`}>
						<img
							src={urlForImage(category.image).url()}
							alt={category.title}
							class="w-full aspect-[3/4] object-cover"
						/>
					</a>
					<a
						class="mt-3 sm:mt-4 font-semibold text-base sm:text-lg flex items-center gap-2 hover:gap-4 transition-[gap]"
						href={`/catalog/${category.slug.current}`}>
						<span>{category.title}</span>
						<ChevronRight />
					</a>
				</li>
			))
		}
	</ul>
</section>
