---
import { sanityClient } from "sanity:client";
import Layout from "../../layouts/Layout.astro";
import ChevronRightIcon from "../../components/icons/ChevronRightIcon.tsx";
import type { Product } from "../../../sanity.types";
import type { ProductWithCategory } from "../../types";
import { urlForImage } from "../../utils/sanity-utils";
import ProductItemInterestButton from "../../components/ProductItemInterestButton";

export async function getStaticPaths() {
	const products = await sanityClient.fetch<Product[]>(
		`*[_type == "product"] {
            slug {
                current
            }
        }`
	);

	return products.map((product) => ({
		params: { slug: product.slug.current },
	}));
}

const { slug } = Astro.params;

const product = await sanityClient.fetch<ProductWithCategory>(
	`*[_type == "product" && slug.current == $slug][0] {
        _id,
        title,
        description,
        price,
        images,
		slug,
        category->,
        availability
    }`,
	{ slug }
);
---

<Layout pageTitle={`${product.title} - Melanin Accessories`}>
	<div class="mt-20 p-4 sm:p-8 md:p-16 lg:px-80">
		<div class="flex items-center gap-2 mb-4">
			<a href={`/catalog/${product.category.slug.current}`}
				>{product.category.title}</a
			>
			<ChevronRightIcon className="inline-block mx-0 w-4" />
			<span class="text-gray-500">{product.title}</span>
		</div>
		<div class="mt-8 flex gap-32">
			<div class="flex gap-4">
				<ul class="flex flex-col gap-2">
					{
						product.images.map((image, index) => (
							<li class="mb-2">
								<img
									src={urlForImage(image).url()}
									alt={`${product.title} image ${index + 1}`}
									class="w-50 h-50 object-cover outline-2 outline-gray-300 cursor-pointer hover:outline-primary transition-all duration-200"
								/>
							</li>
						))
					}
				</ul>
				<img
					src={urlForImage(product.images[0]).url()}
					alt={product.title}
					class="w-md h-md object-cover"
				/>
			</div>
			<div>
				<h1 class="text-4xl font-bold mb-2">{product.title}</h1>
				<p class="text-gray-700 mb-4">{product.description}</p>
				<p class="text-2xl font-semibold mb-4">
					NGN {product.price.toFixed(2)}
				</p>
				<p
					class="text-sm text-gray-500 mt-4 mb-2 uppercase font-semibold">
					{product.availability.replaceAll("_", " ")}
				</p>
				<ProductItemInterestButton
					product={product}
					iconMode={false}
					client:load
				/>
			</div>
		</div>
	</div>
</Layout>
